# Node
/node_modules

# Build artifacts
/dist
/build
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log

# Environment variables
.env
.env.local

# Prisma
/src/generated/prisma # A pasta do seu cliente Prisma gerado

# Testing
/coverage

# IDEs
.vscode/
.idea/


# Other files
init.sql
backend/src/generated
backend/node_modules
